# vim ft=yaml
# CI on Windows via appveyor

environment:
    global:
      MINGWPY_URL: https://8f55531b0432ac914da3-7f407ad05f03da00978ba0b8ec6c202f.ssl.cf2.rackcdn.com

    matrix:
      - ARCH: 64
        GCC_FNAME: x86_64-5.3.0-static-release-win32-seh-rt_v4-rev20160317.7z
        GCC_ROOT: mingw64

build_script:
  - cmd: git submodule update --init --recursive
  - PATH
  - set PATH=C:\msys64\usr\bin;%PATH%
  - pacman -Sy --noconfirm p7zip
  - curl -L "%MINGWPY_URL%/%GCC_FNAME%" -o gcc.7z
  - bash -c "7z x gcc.7z"
  - set GCC_DIR=%cd%\%GCC_ROOT%
  # Extra PATH addition to fixup creatprocess error
  - set PATH=%GCC_DIR%\bin;%GCC_DIR%\lib\gcc\x86_64-w64-mingw32\5.3.0;%PATH%
  - gcc -v
  # Try compiling a test file
  - echo int main(int argc, char **argv) { exit(0); } > test.c
  - gcc -print-search-dirs
  - echo "" | gcc - -v -E
  - gcc -v -E test.c
  - cd OpenBLAS
  - gcc -v -E ../test.c
