# vim ft=yaml

os: Visual Studio 2015

environment:
    global:
      OPENBLAS_COMMIT: 5f998ef
      OPENBLAS_ROOT: c:\opt
      MSYS2_ROOT: c:\msys64
      PYTHON_ARCH: 32

build_script:
  # Build and install the test file
  - cmd /c unpack_openblas.bat
  - PATH=%MSYS2_ROOT%\usr\bin;%PATH%
  - pacman -Sy --noconfirm mingw-w64-i686-toolchain
  - set MSYSTEM=MINGW32
  - set MSYSCON=
  - set MYDIR=%__CD__%
  - bash --login %MYDIR%build_gfortran.sh

test_script:
  - bash --login -c "$(cygpath $MYDIR)test.exe"

artifacts:
  - path: test.exe
