# vim ft=yaml
# CI on Windows via appveyor

environment:
    global:
      MINGWPY_URL: https://8f55531b0432ac914da3-7f407ad05f03da00978ba0b8ec6c202f.ssl.cf2.rackcdn.com

    matrix:
      - ARCH: 64
        GCC_FNAME: x86_64-5.3.0-static-release-win32-seh-rt_v4-rev20160317.7z
        GCC_ROOT: mingw64

build_script:
  - cmd: git submodule update --init --recursive
  - set PATH=C:\msys64\usr\bin;%PATH%
  - pacman -Sy --noconfirm p7zip
  - curl -L "%MINGWPY_URL%/%GCC_FNAME%" -o gcc.7z
  - bash -c "7z x gcc.7z"
  - set PATH=%cd%\%GCC_ROOT%\bin;%PATH%
  - gcc -v
  # Try compiling a test file
  - echo int main(int argc, char **argv) { exit(0); } > test.c
  - gcc test.c
  - bash -c "type gcc.exe"
  - bash -c "gcc.exe test.c"
  - cd OpenBLAS
  - bash -c "type gcc.exe"
  - bash -c "gcc.exe ../test.c"
  # Try compiling a test file again
  - gcc ../test.c
