# vim ft=yaml
# CI on Windows via appveyor

environment:
    global:
      MINGWPY_URL: https://8f55531b0432ac914da3-7f407ad05f03da00978ba0b8ec6c202f.ssl.cf2.rackcdn.com

    matrix:
      - PYTHON: "C:\\Python27"
        PYTHON_ARCH: "32"

      - PYTHON: "C:\\Python27-x64"
        PYTHON_ARCH: "64"

build_script:
  - git submodule update --init --recursive
  - set PATH=%PATH%;C:\msys64\usr\bin
  - pip install -i https://pypi.anaconda.org/carlkl/simple mingwpy
  # Delete specs file to link to MSVCRT
  - bash -c "echo rm $(dirname $(gcc --print-file specs))"
  - cd OpenBLAS
  - set LIBNAME_SUFFIX=mingwpy
  - make BINARY=%PYTHON_ARCH% DYNAMIC_ARCH=1 USE_THREAD=1 USE_OPENMP=0
    NUM_THREADS=24 NO_WARMUP=1 NO_AFFINITY=1 CONSISTENT_FPCSR=1
    BUILD_LAPACK_DEPRECATED=1 MAX_STACK_ALLOC=2048
  - make PREFIX=c:\opt\%PYTHON_ARCH% install
  - cd c:\opt
  - tar zcvf openblas_%PYTHON_ARCH%.tar.gz %PYTHON_ARCH%

artifacts:
    - path: c:\opt\*.tar.gz
