# vim ft=yaml

os: Visual Studio 2015

environment:
  global:
    OPENBLAS_COMMIT: 2c7392f0
    OPENBLAS_ROOT: c:\opt
    MSYS2_ROOT: c:\msys64
    WHEELHOUSE_UPLOADER_USERNAME: travis-worker
    WHEELHOUSE_UPLOADER_SECRET:
      secure: 9s0gdDGnNnTt7hvyNpn0/ZzOMGPdwPp2SewFTfGzYk7uI+rdAN9rFq2D1gAP4NQh
    PYTHON: "C:\\Python27"

  # Need for mingw-builds discussed at
  # https://github.com/xianyi/OpenBLAS/issues/1503
  matrix:
    - BUILD_BITS: 32
      MINGW_BIN: C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1\mingw32\bin

    - BUILD_BITS: 64
      MINGW_BIN: C:\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1\mingw64\bin

build_script:
  # Build OpenBLAS, build and install the test file
  - set VC9_ROOT=C:\Users\appveyor\AppData\Local\Programs\Common\Microsoft\Visual C++ for Python\9.0\VC
  - PATH=%MSYS2_ROOT%\usr\bin;%PATH%
  - PATH=%MINGW_BIN%;%PATH%
  - git submodule update --init --recursive
  - if "%BUILD_BITS%"=="32" (set PLAT=i686) else (set PLAT=x86_64)
  - pacman -Sy --noconfirm zip
  - set MSYSTEM=MINGW%BUILD_BITS%
  - set START_DIR=%__CD__%
  # Need --login to process MSYSTEM variable
  - bash --login %START_DIR%build_openblas.sh
  - bash --login %START_DIR%build_gfortran.sh

test_script:
  - bash --login -c "$(cygpath $START_DIR)test.exe"
  - copy test.exe builds

artifacts:
  - path: builds\*.*

on_success:
  # Upload the generated package to Rackspace
  # On Windows, Apache Libcloud cannot find a standard CA cert bundle so we
  # disable the ssl checks.
  - set PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%
  - pip install wheelhouse-uploader
  - python -m wheelhouse_uploader upload
    --no-ssl-check --local-folder=builds
    --no-update-index
    wheels
